.header-below-nav {
  height: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #000a07;
  background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
  
  position: absolute;
  top: 120px;
  z-index: 1;
 
}

#profile-name {
  position: relative;
  color: #99ccff;
  top: -40px;
}