@media screen and (min-width: 1024px){
  body {
    display: flex;
    flex-direction: column;
    
  }
  .container {
    display: flex;
    width: 50%;
    height: auto;
    position: relative;
    left: 500px;
    top: -720px;
    flex-shrink: 0;
    margin: auto;
    

  }
  .header-below-nav {
    display: flex;
    width: 40%;
    height: auto;
    flex-shrink: 1;
    margin: 20px;
    position: relative;
    top: 240px;
    left: 60px;
    border-radius: 5%;



  }
}

