.new-tweet {
  position: relative;
  top: 75px;
}
button {
  background-color: #4056A1;
  color: #ffff;

}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#submit-tweet {
  display: flex;
  justify-content: space-between;
  font-family: 'Bungee', cursive;
  position: relative;
  top: 30px;
}
.new-tweet form #tweet-text {
  background: transparent;
  border: none;
  border-bottom: 2px solid;
  position: relative;
  top: 15px;
}

.new-tweet .error-message{
  border: 1px solid;
	margin: 10px 0px;
	padding: 15px 10px 15px 50px;
	background-repeat: no-repeat;
	background-position: 10px;
  color: #D8000C;
  background-color: #FFBABA;
  background-image: url('https://i.imgur.com/GnyDvKN.png');
}


