button {
  background-color: #4056A1;
  color: #ffff;

}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#submit-tweet {
  display: flex;
  justify-content: space-between;
  font-family: 'Bungee', cursive;
  position: relative;
  top: 30px;
}
.new-tweet form #tweet-text {
  border: none;
  border-bottom: 2px solid red;
  position: relative;
  top: 15px;
}


