.tweet-container{
  position: relative;
  top: 150px;
  font-family: 'Source Sans Pro', sans-serif;
}

 


.tweet:hover {
  box-shadow: 10px 5px 5px black;
  opacity: 0.8;
}



.tweet-container article {
  border: 5px solid; 
  
}

.tweet-container > footer {
  border-top: solid 5px;
  opacity: 0.5;
}

.tweet-container img {
position: relative;
top: 5px;
padding: 0px 10px;
flex-shrink: 0;

}

.tweet-container header {
  display: flex;
  flex-direction: row;
  margin: 1em;
  justify-content: space-between;

 
}

.tweet-container span {
  display: flex;
  flex-direction: row;
}

.tweet-container .name{ 
 
  font-size: 1.2em;
  margin: 0.5em;
  position:relative;
  top: 1em;
  
}

.tweet-container .username {
  
  color: grey;
  font-size: 1.2em;
  position: relative;
  
  margin-right: 0.5em;

}

.like-retweet-flag-icons {
  display: flex;
  flex-direction: row-reverse;
  color: black;
  
  font-size: 15px;
  padding-right: 20px;
  position: relative;
  top: -15px;
}

.tweet-container date {
  position: relative;
  top: 10px;
  font-size: 15px;
  color: black;
  padding-left: 20px;
}

.fa-heart {
  color:navy;
}

.fa-heart:hover {
  color:red;
}

.fa-retweet {
  color: navy;
}

.fa-retweet:hover {
  color: red;
}

.fa-flag {
  color: navy;
}


.fa-flag:hover {
  color: red;
}

.tweet-container p {
  padding: 0px 20px;
  font-family: 'Source Sans Pro', sans-serif;
  position: relative;
  top: 1em;
  overflow-wrap: break-word;
  word-break: break-all;
  flex-grow: 1;

}

@media screen and (min-width: 1024px){
  body {
    display: flex;
    flex-direction: column;
    
  }
  .container {
    display: flex;
    width: 50%;
    height: auto;
    position: relative;
    left: 500px;
    top: -720px;
    flex-shrink: 0;
    margin: auto;
    

  }
  .header-below-nav {
    display: flex;
    width: 40%;
    height: auto;
    flex-shrink: 1;
    margin: 20px;
    position: relative;
    top: 240px;
    left: 60px;
    border-radius: 5%;



  }
}

